<div class="collection view">

  <div class="actions-bar"
       scroll-position="scroll"
       ng-class="{top: scroll<315}">

    <ul>
      <li>
        <a class="default-button edit"
           ng-show  = "collection.canEdit"
           ui-sref="collectionEdit({id:collection.shortid})">edit
        </a>
      </li>
    </ul>
  </div>

  <div class="page-loading" ng-show="contentLoading"><i class="fa fa-spinner fa-spin"></i></div>

  <div class="content" ng-hide="contentLoading">
    <div class="header wrapper" ng-style="headerStyle">
      <div class="container">
        <div class="col-md-12">

          <h1 class="title" ng-bind-html="collection.title"></h1>

          <!-- Meta -->
          <div class="meta" ng-show="collection.id">
            <p>A collection by
              <span class="account"><a ui-sref="account({slug:collection.account.slug})">{{collection.account.name || 'unknown'}}</a></span>
            </p>
          </div>

          <div class="avatar">
            <a ui-sref="account({slug:collection.account.slug})">
              <img class="img-circle" ng-src="{{collection.account.avatar.url}}" alt="{{collection.account.name}}"/>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Collection Description -->
    <div class="description wrapper">
      <div class="container">
        <div class="col-md-12">
          <div class="collection-description"
            ng-bind-html="collection.description || '<p>The publisher of this collection has not yet provided a description yet.</p>'">
          </div>
        </div>
      </div>
    </div>


    <div class="datasets wrapper">
      <div class="container">
        <div class="col-md-12">

          <h3>Datasets</h3>

          <input class="searchbox"
                 type="text"
                 data-ng-model="search.$"
                 placeholder="Search this collection"
                 data-ng-show="collection.datasets.length>10">

          <p data-ng-show="collection.datasets.length === 0">No datasets for this collection</p>

          <div class="dataset-listing">
            <ul>
              <li ng-repeat="dataset in collection.datasets | filter:search" class="dataset">
                <h4>
                  <a ui-sref="dataset({ id: dataset.shortid })">{{dataset.title}}</a>
                  <span data-ng-show="dataset.private === true" class="label bg-primary">private</span>
                </h4>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>
