<div class="account edit">

  <!-- Actions -->
  <div class="actions-bar" ng-show="account.canEdit">

    <ul>
      <li>
        <button
          class    = "default-button"
          data-ng-show  = "account.id"
          data-ng-click = "toggleOptions()">options
        </button>
      </li>
      <li>
        <button class="btn btn-default"
          type     = "button"
          data-ng-show  = "account.id"
          ui-sref="account({slug:account.slug})">Exit edit mode
        </button>
      </li>
      <li>
        <button
          class    = "btn btn-default publish"
          data-ng-show  = "!account.id"
          data-ng-click = "createAccount()">Publish
        </button>
      </li>
    </ul>
  </div>

  <!-- Editor Sidebar -->
  <div class="editorSidebar" ng-show="showOptions">
    <div class="options-arrow"></div>
    <div class="editorSidebarContent">
      <div class="sidebarModule">
        <div class="editors" ng-show="account.id">
          <h3>Editors</h3>
          <div class="row">
            <div class="col-md-3" ng-repeat="user in account.users">
              <a ui-sref="account({slug: user.slug})" data-popover-placement="bottom" data-popover-trigger="mouseenter" popover="{{user.name}}">
                <img class="img-responsive img-circle" ng-src="{{$root.config.filesRoot + '/a/' + user.avatar.shortid + '/' + user.avatar.filename || '/images/avatar.png'}}"/>
              </a>
            </div>
          </div>
        </div>
        <h3>Background image
          <button
            class="btn btn-default right btn-xs btn-tooltip"
            data-popover="Upload a background image for your account"
            data-popover-trigger="mouseenter"
            data-popover-placement="left"><i class="fa fa-question"></i>
          </button>
        </h3>

        <div>

          <div class="btn btn-default upload-button"
               ng-file-select 
               ng-file-change="startUpload($files,'image','header')">upload your image</div>

        </div>

      </div>

    </div>
  </div>

  <!-- Content -->
  <div class="content" ng-hide="contentLoading">
    <div class="header wrapper" ng-style="headerStyle">

      <div class="container">

        <textarea class = "input-noborder name title edit"
          name        = 'title'
          placeholder = 'Your account name'
          data-ng-model    = 'accountUpdate.name'
          data-ng-blur     = 'update()'
          data-focus = 'true'></textarea>

        <div class="avatar-container avatar"
             ng-file-select
             ng-file-change="startUpload($files,'image','avatar')"
          >
          <img class="img-circle avatar" ng-src="{{$root.config.filesRoot + '/a/' + account.avatar.shortid + '/' + account.avatar.filename || '/images/avatar.png'}}" />
        </div>
      </div>
    </div>


    <!-- Dataset Description -->
    <div class="description wrapper">
      <!-- Editable description -->
      <div class="container">
        <div class="col-md-12">
          <h3>Description</h3>
            <button
              class="btn btn-default right btn-xs btn-tooltip"
              data-popover="----"
              data-popover-trigger="mouseenter"
              data-popover-placement="left"><i class="fa fa-question"></i>
            </button>


          <div
            data-ng-model        = "accountUpdate.description"
            text-angular
            data-ta-default-wrap = "p"
            data-ng-blur         = "update()"
            data-ta-toolbar      = "[['quote','bold','italics','underline'],['ul','ol','indent','outdent'],['insertLink','insertVideo']]"
        ></div>
        </div>
      </div>
    </div>

    <!-- General account files -->
    <div class="files-wrapper">
      <div class="container">
        <div class="col-md-12">
          <h3>Account Files</h3>
          <p>A list of files connected to your account. For example to be used for general organisation policy files. </p>

          <table class="table table-bordered" ng-show="account.files.length>0">
            <thead>
              <tr>
                <th>id</th>
                <th>shortid</th>
                <th>download</th>
                <th>type</th>
                <th>size</th>
                <th>created</th>
                <th>updated</th>
              </tr>
            </thead>
            <tr ng-repeat="file in account.files">
              <td>{{file.id}}</td>
              <td>{{file.shortid}}</td>
              <td><a href="{{file.url}}" target="_blank">{{file.filename}}</a></td>
              <td>{{file.filetype}}</td>
              <td>{{file.size | bytes}}</td>
              <td>{{file.created_at | date:'d MMMM yyyy'}}</td>
              <td>{{file.updated_at | date:'d MMMM yyyy'}}</td>
            </tr>
          </table>
          <button class="btn btn-default"
                  data-file-type="file"
                  data-file-target="accountFile"
                  ng-file-select="onFileSelect($files,'file','accountFile')"
                  data-multiple="false">
            Upload a new file</button>
        </div>
      </div>
    </div>
    <!-- <div class="datasets wrapper" ng-show="account.datasets.length>0">
      <div class="container">
        <div class="col-md-12">
          <h3>Datasets</h3>
          <p ng-show="!account.datasets">No datasets for this user</p>
          <ul>
            <li ng-repeat="dataset in account.datasets">
              <h4>
                <a ui-sref="dataset.view({ id: dataset._id })">{{dataset.title}}</a>
                <span ng-show="dataset.private === true" class="label bg-primary">private</span>
              </h4>
              <date>{{dataset.created | date:'short'}}</date>
            </li>
            <li ng-show="account.canEdit">
              <h4><a ui-sref="dataset.create" class="new">+ Create a dataset</a></h4>
            </li>
          </ul>
        </div>
      </div>
    </div> -->

    <div class="collections wrapper">
      <div class="container">
        <div class="col-md-12">
          <h3>Collections</h3>
          <p ng-show="account.Collections.length === 0">No collections for this account</p>
          <ul>
            <li ng-repeat="collection in account.Collections">
                <h4><a ui-sref="collection({id: collection.shortid})">{{collection.title}}</a></h4>
                <p>{{collection.description}}</p>
            </li>
          </ul>
        </div>

        <div class="col-md-12">

          <form class="form-horizontal novalidate" role="form" name="newCollectionForm">
              <div class="form-group col-md-6">
                <input class="form-control"
                       name="title"
                       ng-model="newCollection.title"
                       placeholder="New collection"
                       ng-minlength="3"
                       ng-maxlength="30"/>
                <span class="error" data-ng-show="newCollectionForm.title.$error.maxlength">Too long!</span>
                <span class="error" data-ng-show="newCollectionForm.title.$error.minlength">Too short!</span>
              </div>
            <button
              class="btn btn-default col-md-4"
              ng-click="newCollection()"
              ng-show="newCollectionForm.$valid && !newCollectionForm.$pristine">Create a new collection</button>
            </form>
            </div>
        </div>
      </div>
    </div>
  </div>
