<div class="header wrapper" ng-style="headerStyle">
  <div class="loader" ng-show="contentLoading" style="text-align: center;"><i class="fa fa-spinner fa-spin"></i> <p>Loading account</p></div>

  <div class="container" ng-hide="contentLoading">
      <h1 ng-bind-html="account.displayName"></h1>
      <div class="editor" ng-show="account.canEdit">
        <div class="label label-success" data-ng-show="account.id===$root.user.primary.id">This is you!</div>
        <a ui-sref="userEdit({slug: account.slug})" ng-show="account.primary">Edit</a>
        <a ui-sref="accountEdit({slug: account.slug})" ng-show="!account.primary">Edit</a>
      </div>
      <div class="avatar">
        <img class="img-circle" ng-src="{{account.avatar.url || '/assets/img/avatar.png'}}"/>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper" ng-hide="contentLoading">
  <!-- Dataset Description -->
  <div class="description wrapper">
    <div class="container">
      <div class="col-md-12">
        <div class="description" ng-bind-html="account.description || '<p>No account description yet.</p>'"></div>
      </div>
    </div>
  </div>

  <div class="collections wrapper">
    <div class="container">
      <div class="col-md-12">
        <h3>Collections</h3>
				<div class="collection-listing">
          <div class="empty" ng-show="account.collections.length < 1">No collections created yet</div>
  				<ul>
            <li ng-repeat="collection in account.collections" class="collection">
              <h4><a ui-sref="collection({id: collection.shortid})">{{collection.title}}</a></h4>
              <p>{{collection.description}}</p>
            </li>
          </ul>
				</div>
      </div>
    </div>
  </div>

    <div class="datasets wrapper">
      <div class="container">
        <div class="col-md-12">

					<input class="searchbox"
                 type="text"
                 ng-model="search.$"
                 placeholder="Search this dataset list"
                 ng-show="datasets.numPages>1">

          <h3>{{datasets.count}} Datasets</h3>
          <p ng-show="datasets.rows.length<1">No datasets for this account</p>

          <div class="dataset-listing" ng-show="datasets.rows.length>0">
            <div class="loader" ng-show="datasets.loading"><i class="fa fa-spinner fa-spin"></i>&nbsp;Loading</div>

						<ul ng-hide="datasets.loading">
              <li ng-repeat="dataset in datasets.rows | filter:search" class="dataset">
                <h4>
                  <a ui-sref="dataset({ id: dataset.shortid })">{{dataset.title}}</a>
                  <span ng-show="dataset.private === true" class="label bg-primary">private</span>
                </h4>
                <ul class="properties">
                  <li><label>Created</label><date>{{dataset.created_at | date:'d MMMM yyyy'}}</date></li>
                  <li ng-show="dataset.distributions.length>0"><label>Data sources</label>{{dataset.distributions.length}}</li>
                  <li ng-show="dataset.references.length>0"><label>References</label>{{dataset.references.length}}</li>

                  <li ng-show="dataset.tags.length>0"><label>Tags</label><span ng-repeat="tag in dataset.tags">{{tag}}</span></li>
                </ul>
              </li>
            </ul>

            <pagination
              ng-change="pageChanged()"
              total-items="datasets.count"
              ng-model="datasets.currentPage"
              max-size="5"
              class="pagination-sm"
              boundary-links="true"
              rotate="false"
              num-pages="datasets.numPages"
              ng-show="datasets.numPages>1">
            </pagination>
          </div>
        </div>
      </div>
    </div>

    <!-- General account files -->
    <div class="files-wrapper" ng-show="account.files.length>0">
      <div class="container">
        <div class="col-md-12">
          <h3>Account Files</h3>
          <p>A list of files connected to your account. For example to be used for general organisation policy files. </p>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>id</th>
              <th>shortid</th>
              <th>download</th>
              <th>type</th>
              <th>size</th>
              <th>created</th>
              <th>updated</th>
            </tr>
            </thead>
            <tr ng-repeat="file in account.files">
              <td>{{file.id}}</td>
              <td>{{file.shortid}}</td>
              <td><a href="{{file.url}}" target="_blank">{{file.filename}}</a></td>
              <td>{{file.filetype}}</td>
              <td>{{file.size | bytes}}</td>
              <td>{{file.created_at | date:'d-MM-yyyy'}}</td>
              <td>{{file.updated_at | date:'d-MM-yyyy'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
