.header.wrapper{
  margin-bottom: 4.5em;
  background-image: url('/assets/images/default-header.png');
  background-image:
  		linear-gradient(transparent,transparent),
  		url('/assets/images/default-header.svg');
  background-position: 50% 50%;
  background-size: cover;
  height: 290px;
  h1 {

    &.editable-placeholder {
      opacity:0.5;
      position: absolute;
      text-align:center;
      width:100%;
    }
  }
  p {
    text-align: center;
  }
  .page-subtitle{

  }
  .meta{
		p{
	    color: #fff;
			span a{
				color: #fff;
				padding-bottom: 5px;
				border-bottom: solid 1px rgba(255, 255, 255, 0.3);
				border-opacity: 0.2;
				&:hover{
					color: #fff;
					border-bottom: solid 1px rgb(255,255,255);
					text-decoration: none;
				}
			}
	  }
	}
  .avatar {
    -ms-transform: translate(0,30px);
    -webkit-transform: translate(0,30px);
    transform: translate(0,30px);
    img {
      display: block;
      margin: 0 auto;
      width: 125px;
      height: 125px;
      /* background-color: #eee; */
      border: 5px solid #eee;
      border: 5px solid rgba(112, 112, 112, 0.2);
    }
  }
}