<section class="page search" ng-controller="SearchCtrl">

  <div class="actions-bar"
    scroll-position="scroll"
    ng-class="{top: scroll<290-75}">
  </div>

  <div class="header wrapper">
    <div class="container">
      <h1 class="title">Search</h1>
      <h2 class="page-subtitle">find datasets, collections and accounts</h2>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <input class="input-search"
               type="text"
               ng-model="search.searchTerm"
               placeholder="Search"
               data-ng-change="doSearch()"
               focus
               ng-model-options="{debounce: 250}"/>
      
    </div>
  </div>

  <div class="container">
    <div class="col-md-12 results">
      <h3>Search results</h3>
			
			<div class="search-message">{{search.message}}</div>
			
      <div class="no-result" ng-show="search.hits.length===0">
				No result
			</div>
      <ul ng-show="search.hits.length>0">
        <li ng-repeat="result in search.hits" class="publication-item">
          <h4><a ui-sref="dataset({id: result.shortid})">{{result.title}}</a><em>{{result._source.publishStatus}}</em></h4>
          <span class="content-type">{{result.contentType}}</span>
          <div class="user-date"><time class="post-date">{{result._source.created_at | date:'d MMMM yyyy'}}</time></div>
        </li>
      </ul>			

    </div>
  </div>
</section>
