<section class="page search">

  <div class="header wrapper">
    <div class="container">
      <h1 class="title">Search</h1>
      <h2 class="page-subtitle">find datasets, collections and accounts</h2>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <input class="input-search"
               type="text"
               ng-model="search.searchTerm"
               placeholder="Search"
               ng-change="doSearch()"
               focus
               ng-model-options="{debounce: 250}"/>

    </div>
  </div>

  <div class="container">
    <div class="col-md-12 results">
      <h3>Search results</h3>

			<div class="search-message">{{search.message}}</div>

      <div class="search-result-accounts">
        <h3>Accounts</h3>
        <div class="no-result" ng-show="search.hits.accounts.rows.length<1">
  				<p>No result</p>
  			</div>
        <ul>
          <li ng-repeat="account in search.hits.accounts.rows" class="publication-item">
            <h4><a ui-sref="account({slug: account.slug})">{{account.title}}</a></h4>
          </li>
        </ul>
      </div>

      <div class="search-result-datasets">
        <h3>Datasets</h3>
        <div class="no-result" ng-show="search.hits.datasets.rows.length<1">
  				<p>No dataset result</p>
  			</div>
        <ul>
          <li ng-repeat="dataset in search.hits.datasets.rows">
            <h4><a ui-sref="dataset({id: '{{dataset.shortid}}' })">{{dataset.title}}</a></h4>
          </li>
        </ul>
      </div>

      <div class="search-result-tags">
        <h3>Tags</h3>
        <div class="no-result" ng-show="search.hits.tags.rows.length<1">
  				<p>No result</p>
  			</div>
        <ul>
          <li ng-repeat="tag in search.hits.tags.rows">
            <h4><a ui-sref="tag({slug: tag.slug})">{{tag.title}}</a></h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
