<div class="page-content">
  <div class="container">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Sign in to Columby</div>
        <div class="panel-body">

          <input type="submit" ng-click="login()" />

          <div class="message" ng-bind-html="message"></div>

          <div class="google-login">
            <a class="btn btn-default btn-google" ng-click="authenticate('google')">
              <i class="fa fa-google icon"></i>
              <span class="buttonText">Sign in using Google</span>
            </a>
          </div>

          <hr>
          <div class="email-login">
            <form class="form-horizontal novalidate" name="loginForm" ng-submit="authenticate('email')" role="form">

              <label>Email address</label>
              <input class="form-control" id="email" name="email" ng-model="email" placeholder="Your email address" required type="email"/>
              <button class="btn btn-primary" ng-disabled="loginForm.$invalid || loginInProgress" type="submit">Login</button>

            </form>
          </div>
        </div>
      </div>
      <p class="register-link">New to Columby?
        <a ui-sref='user.signup'>Sign up here</a>
      </p>
    </div>
<!-- /login form -->
  </div>

  <div class="page-footer"></div>
