node_modules
.tmp
public
dist
.idea
client/bower_components
*.bts
server/config/local.env.js
/client/config/environments/local.json
/html-angular-validate-report.json

/client/assets/styles/css/app.css
/bower_components/
/npm-debug.log
