node_modules
public
.tmp
.idea
client/bower_components
dist
server/config/local.env.js
server/seed

Install/Vagrant/config/parameters.sh

/client/config/environments/local.json
/client/app/services/config.service.js