<div class="page-header" ng-style="headerStyle">

  <div class="actions-bar" ng-show="account.canEdit">
    <div class="label label-success" data-ng-show="account.id===$root.user.primary.id">This is you!</div>
    <a class="btn btn-default white filled icon" ui-sref="user.edit({slug: account.slug})" ng-show="account.primary"><i class="fa fa-pencil"></i>Edit</a>
    <a class="btn btn-default white filled icon" ui-sref="account.edit({slug: account.slug})" ng-show="!account.primary"><i class="fa fa-pencil"></i>Edit</a>
  </div>

  <div class="container">
    <div class="col-md-12 title">
      <h1>{{account.displayName}}</h1>
    </div>

    <!-- <div class="registries">
      <div class="col-md-1" ng-repeat="registry in account.registries">
        <img class="img-responsive img-circle registry-icon" ng-src="{{registry.icon || 'assets/img/avatar.png'}}" popover="{{registry.title}}" popover-trigger="mouseenter" popover-placement="bottom"/>
      </div>
    </div> -->

    <div class="avatar">
      <img class="img-circle" ng-src="{{account.avatar.url || '/assets/img/avatar.png'}}"/>
    </div>
  </div>
</div>

<div class="page-content">
  <!-- Dataset Description -->
  <div class="description-wrapper">
    <div class="container">
      <div class="col-md-12">
        <div class="description" ng-bind-html="account.description || '<p>No account description yet.</p>'"></div>
      </div>
    </div>
  </div>

  <!-- Search datasets -->
  <div class="search-wrapper">
    <div class="container">
      <form name="searchForm">
        <div class="col-xs-10">
          <input class="form-control searchbox" type="text" ng-model="search.query" placeholder="Search this dataset list"/>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default" type="submit" ng-click="searchAccount()" ng-disabled="searchForm.$pristine">Search</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Datasets listing -->
  <div class="datasets-wrapper">
    <div class="container">

      <div class="col-md-12 categories" ng-show="account.categories.length>0">
        <p>Browse by category
          <span class="show-empty small" ng-hide="showEmptyCategories"><a href ng-click="toggleEmptyCategories()">Show empty categories</a></span>
          <span class="hide-empty small" ng-show="showEmptyCategories"><a href ng-click="toggleEmptyCategories()">Hide empty categories</a></span>
        </p>
        <div class="categories">
          <div class="col-md-4 category" ng-repeat="category in account.categories" ng-show="category.count>0 || showEmptyCategories">
            <a href ng-class="{active: selectedCategory==={{category.id}}}" ui-sref="account.category({slug: '{{account.slug}}', id: '{{category.id}}'})">{{category.name}}</a>
          </div>
        </div>
      </div>

      <div class="col-md-12 publications">
        <h3>{{datasets.count}} Datasets <span ng-show="search.term">[Filter: {{search.term}}]<a href ng-click="clearSearch()"><i class="fa fa-trash"></i></a></span></h3>
          <p ng-show="datasets.rows.length<1">No datasets found.</p>

          <div class="publication-listing" ng-show="datasets.rows.length>0">
            <div class="loader" ng-show="datasets.loading"><i class="fa fa-spinner fa-spin"></i>&nbsp;Loading</div>

						<ul ng-hide="datasets.loading">
              <li ng-repeat="dataset in datasets.rows" class="publication-item">
                <h4>
                  <a ui-sref="dataset.view({ id: dataset.shortid })">{{dataset.title}}</a>
                  <span ng-show="dataset.private === true" class="label bg-primary">private</span>
                </h4>

                <ul class="properties">
                  <li><label>Created: </label>{{dataset.created_at | date:'d MMMM yyyy'}}</li>
                  <li ng-hide="!dataset.distributions.length"><label>Data sources: </label>{{dataset.distributions.length}}</li>
                  <li ng-hide="!dataset.references.length"><label>References: </label>{{dataset.references.length}}</li>
                  <li ng-hide="!dataset.tags.length"><label>Tags:</label><span ng-repeat="tag in dataset.tags">{{tag}}</span></li>
                </ul>
              </li>
            </ul>

            <pagination ng-change="pageChanged()" total-items="datasets.count" ng-model="datasets.currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="datasets.numPages" ng-show="datasets.numPages>1"></pagination>
          </div>
        </div>
      </div>
    </div>

    <!-- General account files -->
    <div class="files-wrapper" ng-show="account.files.length>0">
      <div class="container">
        <div class="col-md-12">
          <h3>Account Files</h3>
          <p>A list of files connected to your account. For example to be used for general organisation policy files. </p>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>id</th>
              <th>shortid</th>
              <th>download</th>
              <th>type</th>
              <th>size</th>
              <th>created</th>
              <th>updated</th>
            </tr>
            </thead>
            <tr ng-repeat="file in account.files">
              <td>{{file.id}}</td>
              <td>{{file.shortid}}</td>
              <td><a href="{{file.url}}" target="_blank">{{file.filename}}</a></td>
              <td>{{file.filetype}}</td>
              <td>{{file.size | bytes}}</td>
              <td>{{file.created_at | date:'d-MM-yyyy'}}</td>
              <td>{{file.updated_at | date:'d-MM-yyyy'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>

<div class="page-footer"></div>
