<section class="page about">

  <div class="page-header">
    <div class="container">
      <h1>About Columby</h1>
      <h2 class="page-subtitle">our vision</p>
    </div>
  </div>


  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <div class="terms container">

          <p>Columby is a platform for sharing and finding (open) data with ease. Data creators, analysts, designers, managers, .., .. can publish datasets and share them within minutes.</p>

          <p>Data publishing hasn’t been this easy before. Even if your data sources are IATI, XML, CSV or whatever structure you can think of. Columby processes it and will make it available for sharing, embedding or accessing it via our API.</p>
					
					<p>Publish personal or collaborative with an organization account*. Create collections* to provide easy access for your audience.</p>
					
					<p>* <a ui-sref="roadmap">available in the coming weeks</a></p>
					
					<p style="text-align:center;"><button type="button" class="btn btn-default button" ui-sref='signin'>Login or Signup</button></p>
					

	        <h3>Publish your Data</h3>

	        <p>Create a dataset. Add a nice title, description and add multiple datasources. Upload local or remote files as datasources. Did you get creative with your data? Add some references of output like a Data visualisation, app or website.</p>

	        <h3>Upload local or remote files</h3>

	        <p>Upload your XML, CSV or link to remote files to publish them with your dataset. We’ll make it even possible to keep your verified registries in-sync*.</p>

	        <h3>Distribute your data with our API</h3>

	        <p>Columby processes your data so it’s available through our robust API to use in your sites, apps or any other dynamic output.</p>

	        <h3>Create collections for your audience*</h3>

	        <p>Manage your datasets by publishing them to multiple collections. Collections are published at your personal or organisation account so your audience can access them easily.</p>

	        <h3>Manage your organisation account with your colleagues*</h3>

	        <p>If you work with others to publish data for your organisation, you can easily collaborate without sharing your own account credentials. Add them to your organisation, and they can also publish and edit the datasets.</p>
					
					<h3>soon...</h3>

					<p>Embed your data with our widgets</p>

					<p>Keep in-sync with verified registries</p>

					<p>...<a ui-sref="roadmap">see our list</a></p>
					
					<h3>Pricing</h3>
					
					<p>Everyone can register for free, but if you would like some extra’s you’ll have to upgrade to a paid account. View our pricing table below to see what’s your best fit.</p>						
						
	        <table class="table">
	          <thead>
	            <tr>
								<td>&nbsp;</td>
								<td>Free</td>
								<td>Plus</td>
								<td>Pro</td>
								<td>Premium</td>
							</tr>
	          </thead>
	          <tr>
							<td>Link to external data</td>
							<td>Unlimited</td>
							<td>Unlimited</td>
							<td>Unlimited</td>
							<td>Unlimited</td>
						</tr>
	          <tr>
							<td>Upload data</td>
							<td>100 MB</td>
							<td>1.000 MB</td>
							<td>10.000 MB</td>
							<td>100.000 MB</td>
						</tr>
	          <tr>
							<td>Primary source</td>
							<td>1</td>
							<td>5</td>
							<td>Unlimited</td>
							<td>Unlimited</td>
						</tr>
	          <tr>
							<td>Team / collaborative</td>
							<td>-</td>
							<td>2 members</td>
							<td>10 members</td>
							<td>Unlimited</td>
						</tr>
	          <tr>
							<td>Support</td>
							<td>Tickets</td>
							<td>Tickets</td>
							<td>Tickets</td>
							<td>Tickets or phone</td>
						</tr>
	          <tr>
							<td>&nbsp;</td>
							<td>Free!</td>
							<td>&euro; 10 per month</td>
							<td>&euro; 50 per month</td>
							<td>&euro; 200 per month</td>
						</tr>
	        </table>
					
					<p>If the above doesn’t fit. Please contact us for our customised account options.</p>
					
        </div>
      </div>
    </div>
  </div>

</section>
