<section class="page about">

  <div class="actions-bar"
    scroll-position="scroll"
    ng-class="{top: scroll<290-75}">
  </div>

  <div class="header wrapper">
    <div class="container">
      <h1 class="title">About Columby</h1>
      <h2 class="page-subtitle">Data publishing for data professionals</p>
    </div>
  </div>


  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <div class="terms container">

          <p>Columby helps you create an online page per dataset with all relevant information in one clear overview which you can use as a unique source in all your communications. We process your data and make them available for downloading, embedded previews or distribution via our API.</p>
					
					<p style="text-align:center;"><button type="button" class="lightblue filled" ui-sref='signin'>Login or Signup</button></p>

	        <h3>A unique page per dataset</h3>

	        <p>Create an unique page for your dataset. Add a title, description and add multiple data sources. This can be either a link to your API, your download service or files you upload to our servers. The files can be both the actual data files as well as the documents in which you describe the structure and meaning of your data.</p>

	        <h3>Upload local or remote files</h3>

	        <p>Upload your XML, CSV or link to remote files to publish them on your page. We’ll even make it possible to keep your verified registries in-sync*.</p>

	        <h3>Distribute your data with our API</h3>

	        <p>If you upload a CSV file Columby processes your data so it’s available through our robust API to use in your sites, apps or any other dynamic output.</p>

          <h3>Add references</h3>
          
          <p>Did you get creative with your data? Or have others already used you data for visualisations or apps? Add references of output to your page.</p>

	        <h3>Create collections for your audience*</h3>

	        <p>Manage your datasets by publishing them to multiple collections. Collections are published at your personal or organisation account so your audience can access them easily.*</p>

	        <h3>Manage your organisation account with your colleagues</h3>

	        <p>If you work with others to publish data for your organisation, you can easily collaborate without sharing your own account credentials. Add them to your organisation, and they can also publish and edit the datasets.*</p>
					
          <p>*) Both available in the upcoming weeks</p>
          
					<h3>soon...</h3>

          <ul>
  					<li>Embed your data with our widgets</li>
  					<li>Keep in-sync with verified registries</li>
            <li>...<a ui-sref="roadmap">see our list</a></li>
          </ul>
					
					<h3>Pricing</h3>
					
					<p>You can start for free. If you would like some extra’s you’ll have to upgrade to a paid account. View our pricing table to see what’s your best fit.</p>
					<div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
    							<td>&nbsp;</td>
    							<td>Free</td>
    							<td>Plus</td>
    							<td>Pro</td>
    							<td>Premium</td>
    						</tr>
              </thead>
              <tr>
    						<td>Link to external data</td>
    						<td>Unlimited</td>
    						<td>Unlimited</td>
    						<td>Unlimited</td>
    						<td>Unlimited</td>
    					</tr>
              <tr>
    						<td>Upload data</td>
    						<td>100 MB</td>
    						<td>1.000 MB</td>
    						<td>10.000 MB</td>
    						<td>100.000 MB</td>
    					</tr>
              <tr>
    						<td>Primary source</td>
    						<td>1</td>
    						<td>5</td>
    						<td>Unlimited</td>
    						<td>Unlimited</td>
    					</tr>
              <tr>
    						<td>Team / collaborative</td>
    						<td>-</td>
    						<td>-</td>
    						<td>3 members</td>
    						<td>Unlimited</td>
    					</tr>
              <tr>
    						<td>Support</td>
    						<td>Tickets</td>
    						<td>Tickets</td>
    						<td>Tickets</td>
    						<td>Tickets or phone</td>
    					</tr>
              <tr>
    						<td>&nbsp;</td>
    						<td>Free!</td>
    						<td>&euro; 10 per month</td>
    						<td>&euro; 50 per month</td>
    						<td>&euro; 500 per month</td>
    					</tr>
            </table>
					</div>
					<p>If the above doesn’t fit. Please <a href="http://columby.uservoice.com/" target="_blank">contact us</a> for our customised account options.</p>
					
        </div>
      </div>
    </div>
  </div>

</section>
