<section class="page update">

  <div class="actions-bar"
    scroll-position="scroll"
    ng-class="{top: scroll<290-75}">
  </div>

  <div class="header wrapper">
    <div class="container">
      <h1 class="title">Columby update</h1>
      <h2 class="page-subtitle">November 2014</p>
    </div>
  </div>


  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <div class="terms container">

          <p>Lorem ipsum</p>
					
        </div>
      </div>
    </div>
  </div>

</section>
