<div class="collection index">
  <div class="content">
    <div class="header wrapper" ng-style="headerStyle">
      <div class="container">
        <div class="col-md-12">

          <h1 class="title">Collections</h1>

          <div class="meta" ng-show="collection._id">
            <p>Selection of datasets</p>
          </div>
        </div>
      </div>
    </div>

    <div class="collection-datasets wrapper">
      <div class="container">
        <div class="col-md-12">
          <h3>Collections</h3>
          <ul>
            <li ng-repeat="collection in collections">
              <p><a ui-sref="collection({id:collection._id})">{{collection.title}} by {{collection.account.name}}</a></p>
              <p>{{collection.datasets.length}} datasets</p>
            </li>
          </ul>
          <p ng-show="collections.length<1">There are no collections published yet</p>
        </div>
      </div>
    </div>
  </div>
</div>
