.metabar-wrapper {
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 1250;
  padding: 20px;
}
.metabar-wrapper .metabar {
  font-family: "lato", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.metabar-wrapper .metabar .metabar-content {
  display: inline;
}
.metabar-wrapper .menu-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bolder;
}
.metabar-wrapper .logo {
  display: inline;
  margin-left: 20px;
}
.metabar-wrapper .logo:hover {
  opacity: 0.8;
}
.metabar-wrapper .logo img {
  width: 200px;
}
.metabar-wrapper .actions {
  text-align: right;
}
