button:focus {
  outline: 0;
}
.actions-bar {
  text-align: right;
  position: fixed;
  z-index: 600;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 20px;
  padding-bottom: 55px;
}
.actions-bar ul {
  float: right;
}
.title {
  font-family: "lato", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: none;
  margin-top: 1em;
  line-height: 1.2em;
}
textarea.edit {
  background: none;
  border-radius: 10px;
  padding: 10px;
  width: 720px;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0);
  resize: none;
}
textarea.edit:hover {
  border: 1px solid #fff;
}
.label {
  vertical-align: top;
  line-height: 2.3em;
  margin-left: 5px;
}
button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: auto;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bolder;
}
.btn {
  font-family: "lato", sans-serif;
}
.actions-bar {
  text-align: right;
}
.actions-bar button {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bolder;
  float: right;
}
.actions-bar button:focus {
  color: #fff;
  outline: 0 !important;
}
.actions-bar button:hover {
  background: none;
  color: #000;
  border: solid 2px #000;
}
.actions-bar button.active {
  color: #000;
  border: solid 2px #000;
}
.actions-bar button.logout {
  background: rgba(255, 66, 66, 0.6);
  border: 3px solid rgba(255, 66, 66, 0);
}
.actions-bar button.logout:hover {
  background: #F03C02;
  color: #fff;
}
