<div class="page-header">
  <div class="container page-title-container">
    <div class="col-md-12">
      <h1 class="page-title">Roadmap</h1>
      <h2 class="page-subtitle">Our feature list</h2>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container">
    <div class="col-md-12">
      <div class="terms container">

        <p>The Columby team is working every day to improve and add new features to the platform. Updates are announced at our monthly newsletter. So <a href="//eepurl.com/U4rQz" target="_blank">sign up</a>, or keep refreshing this page.</p>

        <h3>Upcoming</h3>

        <ul class="upcoming">
          <li>Collections</li>
          <li>Related datasets</li>
          <li>Create extra publication accounts (for your organisation)</li>
          <li>Collaborate on publication accounts</li>
          <li>Synchronization with the data.overheid.nl registry</li>
        </ul>

        <h3>Built</h3>

        <ul class="built">
          <li>Embed datasets on your webpage</li>
          <li>Share datasets</li>
          <li>Follow the W3C DCAT standard for datasets</li>
          <li>Add multiple references (eg. blogposts of Apps) to your publication</li>
          <li>Add multiple data sources to your publication</li>
          <li>Simplified dataset publication</li>
          <li>Simplified registration and login procedure</li>
          <li>Redesign of Columby Publishing Platform</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page-footer">
</div>
