<div class="account view">

  <!-- Actions -->
  <div class="actions-bar"
       scroll-position="scroll"
       ng-class="{top: scroll<165}">
    <a class="btn btn-default edit"
       ng-show="account.canEdit"
       ui-sref="account.edit({slug:account.slug})">edit
    </a>
  </div>

  <!-- Content -->
  <div class="content" ng-hide="contentLoading">

    <div class="header wrapper" ng-style="headerStyle">
      <div class="container">
        <h1 ng-bind-html="account.name || 'No name yet'"></h1>
        <div class="avatar">
          <img class="img-circle" src="{{account.avatar}}"/>
          <div class="label label-success" ng-show="account.id===$root.user.primaryAccount.id">This is you!</div>

        </div>
      </div>
    </div>

    <!-- Dataset Description -->
    <div class="description wrapper">
      <!-- Editable description -->
      <div class="container">
        <div class="col-md-12">
          <div ng-bind-html="account.description || '<p>No account description yet.</p>'"></div>
        </div>
      </div>
    </div>

    <div class="collections wrapper" ng-show="account.collections.length > 0">
      <div class="container">
        <div class="col-md-12">
          <h3>Collections</h3>

					<div class="collection-listing">

					<ul>
            <li ng-repeat="collection in account.collections" class="collection">
                <h4><a ui-sref="collection.view({id: collection.id})">{{collection.title}}</a></h4>
                <p>{{collection.description}}</p>
            </li>
    				<!-- <li>
    					<h4><a ui-sref="collection.create({accountId: account._id})" class="new">+ Create a collection</a></h4>
    				</li> -->
          </ul>

					</div>

        </div>
      </div>
    </div>

    <div class="datasets wrapper" ng-show="datasets.length>0">
      <div class="container">
        <div class="col-md-12">

					<input type="text" ng-model="search.$" placeholder="Search this dataset list" class="searchbox" ng-show="datasets.length>1">

          <h3>Datasets</h3>
          <p ng-show="!datasets">No datasets for this user</p>

          <div class="dataset-listing">

						<ul>
              <li ng-repeat="dataset in datasets | filter:search" class="dataset">
                <h4>
                  <a ui-sref="dataset.view({ id: dataset.id })">{{dataset.title}}</a>
                  <span ng-show="dataset.private === true" class="label bg-primary">private</span>
                </h4>
                <ul class="properties">
                  <li><label>Created</label><date>{{dataset.created_at | date:'d MMMM yyyy'}}</date></li>
                  <li ng-show="dataset.distributions.length>0"><label>Data sources</label>{{dataset.distributions.length}}</li>
                  <li ng-show="dataset.references.length>0"><label>References</label>{{dataset.references.length}}</li>
                  <br ng-show="dataset.tags.length>0"/>
                  <li ng-show="dataset.tags.length>0"><label>Tags</label><span ng-repeat="tag in dataset.tags">{{tag}}</span></li>
                </ul>
              </li>
            </ul>

          </div>

        </div>
      </div>
    </div>




  </div>
</section>
