<section class="page page-home">

  <div class="page-header">
    <div class="container">
      <div class="col-md-12">
        <img src="/assets/images/logo.png" class="img-responsive">
        <h2 class="page-subtitle">publish and discover data</h2>
        <button type="button" class="btn btn-default button" ng-show="$root.user._id"  ui-sref="dataset.create">Publish new dataset</button>
        <button type="button" class="btn btn-default button" ng-hide="$root.user._id"  ui-sref='signin'>Login or Signup</button>
        <p>or</p>
        <a ui-sref="about">Read about Columby</a>
      </div>
    </div>
  </div>

  <div class="news-flash">
    <div class="container">
      <div class="col-md-12">
        <h2>Welcome to the new Columby! <a ui-sref="columby-update">Read more about our major update</a>.</h2>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container">

      <div class="searchbox col-md-offset-1 col-md-10">
        <input
          type="text"
          ng-model="search.searchTerm"
          placeholder="Search datasets"
          class="input-large"
          ng-change="search()"
          focus>
        <div class="search-message">{{search.message}}</div>
      </div>

      <!-- Search result -->
      <div class="col-md-12 results recent-publications">
        <h3 ng-show="search.hits">Search results</h3>
        <div class="result publication-listing">
          <div class="no-result" ng-show="search.hits.length === 0">
            No Result
          </div>
					<ul>
            <li ng-repeat="result in search.hits" class="publication-item">
              <h4><a ui-sref="dataset.view({id: result._id})">{{result._source.title}}</a><em>{{result._source.publishStatus}}</em></h4>
              <div class="user-date"><!-- {{result._source.account.name || '[Oops! No publisher found]'}} on  --><time class="post-date">{{result._source.createdAt | date:'d MMMM yyyy'}}</time></div>
            </li>
        	</ul>
        </div>
      </div>


      <div class="col-md-12 recent-publications" ng-hide="search.hits.length">
        <h3>Recently published</h3>
        <div class="publication-listing">
					<ul>
            <li ng-repeat="dataset in datasets" class="publication-item">
              <h4><a ui-sref="dataset.view({ id: dataset._id })" ng-bind-html="dataset.title || 'Untitled'"></a></h4>
              <div class="user-date">
                <a ui-sref="account.view({slug:dataset.account.slug})">{{dataset.account.name || '[Oops! No publisher found]'}}</a> on <time class="post-date">{{dataset.createdAt | date:'MMMM d, yyyy'}}</time>
              </div>
            </li>
        	</ul>
				</div>
      </div>


    </div>
  </div>
</section>
