<div class="footer-wrapper">
  <div class="local" ng-show="config.apiRoot==='http://localhost:8000'">Local Development API</div>
  <div class="development" ng-show="config.apiRoot==='https://dev-api.columby.com'">Development API</div>

  <div class="container">
    <div class="footer-info pull-left">
      <a ui-sref="home">Columby</a>. Publish and discover data <span class="small"><em><a ui-sref="status">&nbsp;&nbsp;&nbsp;v{{$root.config.version}}</a></em></span>
    </div>
    <div class="footer-info footer-links pull-right">
      <a ui-sref="about">About</a>
      <a href="//columby.uservoice.com" target="_blank" >Support</a>
      <a ui-sref="signin" ng-hide="$root.user.email">Login or Signup</a>
      <a ui-sref="dataset.create" ng-show="$root.user.email">Publish new dataset</a>
    </div>
  </div>
</div>
