<section class="page update">

  <div class="actions-bar"
    scroll-position="scroll"
    ng-class="{top: scroll<290-75}">
  </div>

  <div class="header wrapper">
    <div class="container">
      <h1 class="title">Columby update</h1>
      <h2 class="page-subtitle">November 2014</h2>
    </div>
  </div>


  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <div class="terms container">

          <p>Our goal is to make data publishing as simple as possible. After the first launch of our beta.columby.com we realized pretty soon that we had introduced to many functionalities. We wanted to fix to many problems and almost ended up solving none.</p>

					<p>Although we got positive feedback on specific parts of the application, like a good preview or the possibility to embed a dataset on other websites, most users had a hard time figuring out where to start with their publishing.</p>

					<p><em>We had some work to do.</em></p>

					<p>Based on the in-depth feedback of several clients we came up with a simple set of guidelines for this update:</p>

					<ul>
						<li>publish multiple links or data files as a comprehensive dataset on an elegant - 100% responsive - page,</li>

						<li>with only the most essential information,</li>

						<li>stimulate publishers to write a clear description for non-techy people,</li>

						<li>introduce a simple way to embed this page on another website.</li>

						<li>create automatic synchronisation with major registers and “local” resources.</li>

						<li>With these guidelines in mind we worked intensively for the past months to strip our beta to the bare essence. We hope you like the result and - again - we look forward to all you feedback.</li>
					</ul>


					<p><strong>The Columby team</strong></p>

        </div>
      </div>
    </div>
  </div>

</section>
