<section class="page features">

  <div class="actions-bar"
    scroll-position="scroll"
    ng-class="{top: scroll<290-75}">
  </div>

  <div class="header wrapper">
    <div class="container">
      <h1 class="title">Features &amp; Pricing</h1>
      <h2 class="page-subtitle">Columby explained</h2>
    </div>
  </div>


  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <img src="/images/features/intro.png" class="img-responsive intro">

        <h3>Publish your Data</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id suscipit mi, vel laoreet risus. Aliquam efficitur sollicitudin mi, sit amet pulvinar nisl aliquet vitae. Aenean lacinia, lectus rhoncus aliquam volutpat, orci lectus sagittis mi, ac ultrices erat libero nec leo. Morbi ullamcorper ultrices leo, a sagittis lacus iaculis in.</p>

        <h3>Upload local or remote files</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id suscipit mi, vel laoreet risus. Aliquam efficitur sollicitudin mi, sit amet pulvinar nisl aliquet vitae. Aenean lacinia, lectus rhoncus aliquam volutpat, orci lectus sagittis mi, ac ultrices erat libero nec leo. Morbi ullamcorper ultrices leo, a sagittis lacus iaculis in.</p>

        <h3>Distribute your data with our API</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id suscipit mi, vel laoreet risus. Aliquam efficitur sollicitudin mi, sit amet pulvinar nisl aliquet vitae. Aenean lacinia, lectus rhoncus aliquam volutpat, orci lectus sagittis mi, ac ultrices erat libero nec leo. Morbi ullamcorper ultrices leo, a sagittis lacus iaculis in.</p>

        <h3>Create collections for your audience</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id suscipit mi, vel laoreet risus. Aliquam efficitur sollicitudin mi, sit amet pulvinar nisl aliquet vitae. Aenean lacinia, lectus rhoncus aliquam volutpat, orci lectus sagittis mi, ac ultrices erat libero nec leo. Morbi ullamcorper ultrices leo, a sagittis lacus iaculis in.</p>

        <h3>Manage your organisation account with your colleagues</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id suscipit mi, vel laoreet risus. Aliquam efficitur sollicitudin mi, sit amet pulvinar nisl aliquet vitae. Aenean lacinia, lectus rhoncus aliquam volutpat, orci lectus sagittis mi, ac ultrices erat libero nec leo. Morbi ullamcorper ultrices leo, a sagittis lacus iaculis in.</p>

      </div>
    </div>
  </div>

</section>
