<nav class="sitenav-wrapper" ng-controller="SiteNavCtrl" ng-class="{active: $root.showSitenav}">

  <div class="sitenav-content">
    <button type="button" class="close" ng-click="toggleSiteNav()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

    <ul>
      <li>
        <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
        <a ui-sref="search" class="search"><i class="fa fa-search"></i></a>
      </li>

      <li ng-show="$root.user._id">
        <a ui-sref="dataset.create" ng-class="{active: $state.includes('dataset.create')}">Publish new dataset</a>
      </li>

      <!-- <li ng-show="$root.user._id">
        <a ui-sref='account.view({slug: $root.selectedAccount.slug})'>My datasets</a>
      </li> -->

      <li ng-show="$root.user._id">
        <a ui-sref="account.view({slug: $root.user.accounts[ $root.selectedAccount].slug})" ng-class="{active: $state.includes(account.view)}">
         My profile<!-- {{$root.selectedAccount.name}} -->
        </a>
        <span class="settings">
          <a ui-sref='settings'><i class="fa fa-cog"></i></a>
        </span>
      </li>

      <!-- Account switcher -->
      <li ng-show="$root.user._id && $root.user.accounts.length > 1">
        <div account-switcher
          accounts="$root.user.accounts">
        </div>
      </li>

      <li ng-hide="$root.user._id">
        <a ui-sref='signin' class="highlight">Login or Signup</a>
      </li>
    </ul>

		<div class="stat-nav">
    <ul>
      <li><a ui-sref="about">About Columby</a></li>
      <!-- <li><a ui-sref="features">Features &amp; Pricing</a></li> -->
      <li><a ui-sref="roadmap">Roadmap</a></li>
      <li><a href="//docs.columby.com" target="_blank">Docs</a></li>
      <li><a href="//columby.uservoice.com" target="_blank">Support</a></li>
      <!-- <li><a ui-sref="terms">Terms</a></li> -->
    </ul>
    <a ui-sref="home"><div class="logo"><img src="/assets/images/logo-transparant-white.png"></div></a>
		</div>
  </div>

</nav>
