// MODAL
.modal-content {
  .modal-header {
    background-color: @lightblue;
    color: #fff;
    .close{
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
      opacity: 1;
      padding-top:4px;
      color:#fff;
    }
  }
  .modal-body{
    h3{
      margin-top:0;
      font-size: 20px;
    }
    thead{
      font-weight: bold;
    }
  }
}
