<div class="settings view">

  <!-- Main dataset Content -->
  <div class="content">

    <div class="header wrapper">
      <div class="container">
        <div>
          <h1 class="title">User settings <br><a ui-sref="account({slug: user.primary.slug})">{{user.primary.displayName}}</a></h1>
          <h2 class="page-subtitle">Edit your account details and organisations</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-12" ng-show="errorMsg">
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-warning" aria-hidden="true"></span>
          {{errorMsg}}
        </div>
      </div>
      <div class="col-md-3 menus">
        <div class="panel panel-default panel-usermenu">
          <div class="panel-heading">
            Settings
          </div>

          <table class="table">
            <tr><td><a href="#" ng-click="changePanel('profile')" ng-class="{ active: activePanel==='profile'}">Profile</a></td></tr>
            <tr><td><a href="#" ng-click="changePanel('account')" ng-class="{ active: activePanel==='account'}">Account settings</a></td></tr>
            <!-- <tr><td><a href="#" ng-click="changePanel('billing')" ng-class="{ active: activePanel==='billing'}">Billing</a></td></tr> -->
            <tr><td><a href="#" ng-click="changePanel('organisations')" ng-class="{ active: activePanel==='organisations'}">Organisations</a></td></tr>
            <tr><td><a href="#" ng-click="changePanel('support')" ng-class="{ active: activePanel==='support'}">Support</a></td></tr>
          </table>
        </div>

        <div class="panel panel-default panel-organisationsmenu" ng-show="user.organisations.length>0">
          <div class="panel-heading">
            Organisations
          </div>
          <table class="table">
            <tr ng-repeat="account in user.organisations">
              <td>
                <a ui-sref="account.edit({slug:account.slug})"><img class="avatar" ng-src="{{$root.config.filesRoot}}/image/thumbnail/{{account.avatar.filename}}"/> {{account.displayName}}</a>
              </td>
            </tr>
          </table>

        </div>
      </div>

      <div class="col-md-9">
        <div ng-switch on="activePanel">

          <!-- Profile panel -->
          <div class="profile-panels" ng-switch-when="profile">
            <div class="panel panel-default">
              <div class="panel-heading">Basic profile</div>
              <div class="panel-body">
                <form class="novalidate" role="form" name="profileForm">
                  <label for="displayname">Profile picture</label>
                  <div class="row">
                    <div class="col-md-3">
                      <img class="img-circle avatar" ng-src="{{$root.config.filesRoot}}/image/thumbnail/{{user.primary.avatar.filename}}"/>
                      <a class="btn btn-default" href ng-click="openFileBrowser()">change</a>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">

                        <!-- <button class="btn btn-default">Upload new picture</button> -->
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="displayname">Display name</label>
                    <input type="text" class="form-control" id="displayname" ng-model="user.primary.displayName"></input>
                  </div>

                  <div class="form-group">
                    <label for="description">Description</label>
                    <div text-angular ta-toolbar="[['p','h3'],['bold','italics','underline'],['insertLink']]" ng-model="user.primary.description"></div>
                  </div>

                  <div class="form-group">
                    <label for="contact">Contact</label>
                    <textarea class="form-control" id="contact" rows="3" ng-model="user.primary.contact"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url" ng-model="user.primary.url"></input>
                  </div>

                  <div class="form-group">
                    <label for="displayname">Location</label>
                    <input type="text" class="form-control" id="location" ng-model="user.primary.location"></input>
                  </div>

                  <button class="btn btn-default btn-blue" ng-disabled="profileForm.$pristine || profileForm.$invalid || updatingAccount" ng-click="updateAccount()"><span class="btn-text" ng-hide="updatingAccount">Update profile</span><i class="fa fa-spinner fa-spin" ng-show="updatingAccount"></i></span></button>
                </form>
              </div>
            </div>
          </div>

          <div class="account-panels" ng-switch-when="account">
            <div class="panel panel-default panel-email">
              <div class="panel-heading">
                Registered email-address
              </div>
              <div class="panel-body">
                <p>{{user.email}}
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                Account url
              </div>
              <div class="panel-body">
                <form class="novalidate" role="form" name="accountForm">
                  <div class="form-group">
                    <input type="text" class="form-control" id="slug" ng-model="user.primary.slug" ng-change="slugify()" ng-required="true"></input>
                  </div>

                  <button class="btn btn-default" ng-disabled="accountForm.$pristine || accountForm.$invalid || updatingSlug" ng-click="updateSlug()"><span class="btn-text" ng-hide="updatingSlug">Change url</span><span class="loader"><i class="fa fa-spinner fa-spin" ng-show="updatingSlug"></i></span></button>
                </form>
              </div>
            </div>

            <!-- <div class="panel panel-danger">
              <div class="panel-heading">
                Delete account
              </div>
              <div class="panel-body">
                <p>Be careful, do not just delete your account!</p>
                <button class="btn btn-danger" ng-click="destroy()">Delete account</button>
              </div>
            </div> -->
          </div>

          <div class="billing-panels" ng-switch-when="billing">
            <div class="panel panel-default">
              <div class="panel-heading">
                Billing
              </div>
              <div class="panel-body">
                Profile picture<br>
                Name<br>
                URL<br>
                Company<br>
                Location<br>
                <a class="btn btn-primary">Update</a> <a ui-sref="account">View account</a>
              </div>
            </div>
          </div>

          <div class="organisations-panels" ng-switch-when="organisations">
            <div class="panel panel-default">
              <div class="panel-heading">
                Organisations
              </div>
              <div class="panel-body">
                <div class="empty" ng-show="user.organisations.length<1"><p>No organisations added yet.</p></div>
                <ul>
                  <li ng-repeat="organisation in user.organisations"><a ui-sref="account.edit({slug: organisation.slug})">{{organisation.displayName}}</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="support-panels" ng-switch-when="support">
            <div class="panel panel-default">
              <div class="panel-heading">
                Support
              </div>
              <div class="panel-body">
                <p>Some support information</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
