<div class="page signin">

  <!-- Signin content -->
  <div class="content">

    <div class="header wrapper">
      <div class="container">
        <div>
          <h1 class="title">Sign in</h1>
          <!-- <h2 class="page-subtitle">View your details and accounts</h2> -->
        </div>
      </div>
    </div>

    <!-- login & register forms -->
    <div class="container">
        <!-- login form -->
        <div class="login-form col-md-12">
          <h2>Login to continue</h2>
          <div class="oauth-login">
            <div class="google-login">
              <a class="btn btn-default btn-google" ng-click="authenticate('google')">g | Login with your Google account</a>
            </div>
          </div>

          <div class="separator">
            <hr>
            <p>Or login with your email using a login-link:</p>
            <hr>
          </div>

          <div class="email-login">
            <form class="form-horizontal novalidate" role="form" name="loginForm" ng-submit="authenticate('email')" >

              <div class="form-group">
                <div class="col-sm-6">
                  <input class="form-control"
                    required
                    id="email"
                    type="email"
                    name="email"
                    placeholder="Your email address"
                    ng-model="email"/>
                </div>
                <div class="col-sm-6">
                  <button
                    type="submit"
                    class="black"
                    ng-disabled="loginForm.$invalid || loginInProgress">Login</button>
                  <span ng-show="loginInProgress"><i class="fa fa-spinner fa-spin"></i></span>
                </div>
                <div class="col-sm-8">
                  <div ng-show="loginForm.$invalid && !loginForm.$pristine" class="alert alert-warning" role="alert">
                    <span ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Enter a valid email.</span>
                  </div>
                  <div ng-show="loginError" class="alert alert-danger" role="alert">
                    {{loginError}}
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="register-link"><a ui-sref='register'>Need to sign up?</a></div>
        </div>

        <!-- passwordless explanation -->
        <div class="col-md-12">
          <h2>Wait whuuut, no password?</h2>
          <p>'12345', 'password', ... Inventing great passwords is hard. So many users still don't do it. Worse: the same passwords are repeated across several websites, so if one of the sites is broken all of the user's accounts are broken simultaneously.</p>
          <p>Columby has chosen for passwordless login. We email you "one-time passwords" for everytime you would like to sign in.</p>
        </div>

      </div>
    <!-- /login form -->

  </div>

  <!-- Verification modal -->
  <div class="verify-in-progress" ng-show="verifyInProgress">
    <h1>Signing in</h1>
    <p>Your verification token is checked for validity.</p>
    <div class="alert alert-danger animated fadeIn" ng-show="verificationError">{{verificationError}}</div>
    <a ui-sref="home">home</a>
  </div>

  <!-- Token request success madal -->
  <div class="signin-success" ng-show="signinSuccess">
    <h1>Check your inbox</h1>
    <p>The authentication was successful. You should receive a login link in your inbox soon.</p>
    <a ui-sref="home">home</a>
  </div>

  <!-- Registration request success -->
  <div class="registration-success" ng-show="registrationSuccess">
    <h1>Check your inbox</h1>
    <p>The registration process was successful. We just sent you a confirmation by email. We'll let you know when you account is approved!</p>
    <a ui-sref="home">home</a>
  </div>
</div>
