<div class="container">
  <div class="header">
    <h1>Columby Worker</h1>
    <p>Manage columby worker processes. </p>
  </div>

  <div class="content">
    <!-- <h3>Stats</h3>
    <span><strong>Inactive:</strong> {{stats.inactiveCount || 'n/a' }}</span>
    <span><strong>Active:</strong> {{stats.activeCount || 'n/a' }}</span>
    <span><strong>Failed:</strong> {{stats.failedCount || 'n/a' }}</span>
    <span><strong>Complete:</strong> {{stats.completeCount || 'n/a' }}</span>
    <span><strong>Delayed:</strong> {{stats.delayedCount || 'n/a' }}</span> -->

    <h3>Jobs</h3>

    <div class="filters">
      Show:
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="filter.status.active" ng-change="toggleStatus()"> Active (scheduled)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="filter.status.error" ng-change="toggleStatus()"> Error
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="filter.status.complete" ng-change="toggleStatus()"> Complete
        </label>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Type</th>
          <th>Error message</th>
          <th>Dataset id</th>
          <th>Created at</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in jobs">
          <td>{{job.id}}</td>
          <td>{{job.status}}</td>
          <td>{{job.type}}</td>
          <td>{{job.error}}</td>
          <td>{{job.dataset_id}}</td>
          <td>{{job.created_at | date:'dd MMMM yyyy - H:m'}}</td>
          <td>{{job.updated_at | date:'dd MMMM yyyy - H:m'}}</td>
        </tr>
      </tbody>
    </table>

    <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>

  </div>
</div>
