/*** ---- TERMS/ABOUT ---------------------------- ***/
.terms .page-header,
.about .page-header,
.features .page-header,
.search .page-header,
.roadmap .page-header {
  text-align: center;
  min-height: 260px;
  margin: 0;
  color: #FFF;
  background-color: #eee;
  background-image: url('/assets/images/page-header.png');
  background-position: 50% 50%;
}
.terms .page-header img,
.about .page-header img,
.features .page-header img,
.search .page-header img,
.roadmap .page-header img {
  margin-top: 100px;
}
.terms .page-header h1,
.about .page-header h1,
.features .page-header h1,
.search .page-header h1,
.roadmap .page-header h1 {
  margin-top: 100px;
  font-size: 4em;
  font-weight: 900;
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: none;
}
.terms .page-header h2.page-subtitle,
.about .page-header h2.page-subtitle,
.features .page-header h2.page-subtitle,
.search .page-header h2.page-subtitle,
.roadmap .page-header h2.page-subtitle {
  font-family: "merriweather", serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.6px;
  opacity: 0.7;
}
.terms .page-content,
.about .page-content,
.features .page-content,
.search .page-content,
.roadmap .page-content {
  margin-top: 50px;
}
.terms .page-content img.intro,
.about .page-content img.intro,
.features .page-content img.intro,
.search .page-content img.intro,
.roadmap .page-content img.intro {
  margin: 80px 0 80px 0;
}
.terms .page-content p,
.about .page-content p,
.features .page-content p,
.search .page-content p,
.roadmap .page-content p,
.terms .page-content ol,
.about .page-content ol,
.features .page-content ol,
.search .page-content ol,
.roadmap .page-content ol {
  line-height: 2em;
  margin-bottom: 40px;
}
.terms .page-content ol > li,
.about .page-content ol > li,
.features .page-content ol > li,
.search .page-content ol > li,
.roadmap .page-content ol > li {
  margin-bottom: 40px;
}
.terms .page-content ul.built,
.about .page-content ul.built,
.features .page-content ul.built,
.search .page-content ul.built,
.roadmap .page-content ul.built {
  text-decoration: line-through;
}
.terms .page-content li,
.about .page-content li,
.features .page-content li,
.search .page-content li,
.roadmap .page-content li {
  list-style: inherit;
  padding: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
}
