/*** ---- TERMS/ABOUT ---------------------------- ***/
.page .page-content {
  margin-top: 50px;
}
.page .page-content img.intro {
  margin: 80px 0 80px 0;
}
.page .page-content p,
.page .page-content ol {
  line-height: 2em;
  margin-bottom: 40px;
}
.page .page-content ol > li {
  margin-bottom: 40px;
}
.page .page-content ul.built {
  text-decoration: line-through;
}
.page .page-content li {
  list-style: inherit;
  padding: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
}
