<div class="page-header">
  <div class="actions-bar">
    <a class="btn btn-default" ui-sref="account.view({slug: '{{account.slug}}'})"><i class="fa fa-chevron-left"></i>view account</a>
  </div>

  <div class="container">
    <div class="col-xs-12 page-title-container">
      <h1 class="page-title">{{account.displayName}}</h1>
      <h2 class="page-subtitle">Edit your organisation details</h2>
      <div class="avatar">
        <img class="img-circle" ng-src="{{ $root.config.filesRoot + '/s/small/' + account.avatar.url || '/assets/img/avatar.png'}}"/>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container">

    <div class="col-md-12" ng-show="errorMsg">
      <div class="alert alert-danger" role="alert">
        <span class="fa fa-warning" aria-hidden="true"></span>
        {{errorMsg}}
      </div>
    </div>

    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 menus">
          <ul class="account-edit-menu">
            <li>
              <a href ng-click="changePanel('profile')" ng-class="{ active: activePanel==='profile'}">Basic Profile</a>
            </li>
            <li>
              <a href ng-click="changePanel('categories')" ng-class="{ active: activePanel==='categories'}">Categories</a>
            </li>
            <li>
              <a href="#" ng-click="changePanel('people')" ng-class="{ active: activePanel==='people'}">Users</a>
            </li>
          </ul>
        </div>

        <div class="col-xs-12">
          <div ng-switch on="activePanel">
            <!-- Profile panel -->
            <div class="profile-panels" ng-switch-when="profile">
              <div class="panel panel-default panel-profile">
                <div class="panel-heading">Basic profile</div>
                <div class="panel-body">
                  <form class="novalidate" role="form" name="profileForm">
                    <label for="displayname">Profile picture</label>
                    <div class="row">
                      <div class="col-md-3">
                        <img class="img-circle img-responsive avatar" ng-src="{{$root.config.filesRoot + '/s/small/' + account.avatar.url || 'assets/img/avatar.png'}}"/>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">
                          <a class="btn btn-default" ng-click="openFileBrowser('accountAvatar')">Upload new picture</a>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="displayname">Display name</label>
                      <input type="text" class="form-control" id="displayname" ng-model="account.displayName"></input>
                    </div>


                    <div class="form-group">
                      <label for="description">Description</label>
                      <div text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics']]" ng-model="account.description"></div>
                    </div>

                    <div class="form-group">
                      <label for="contact">Contact</label>
                      <textarea class="form-control" id="contact" rows="3" ng-model="account.contact"></textarea>
                    </div>

                    <div class="form-group">
                      <label for="url">URL</label>
                      <input type="text" class="form-control" id="url" ng-model="account.url"></input>
                    </div>

                    <div class="form-group">
                      <label for="displayname">Location</label>
                      <input type="text" class="form-control" id="location" ng-model="account.location"></input>
                    </div>

                    <button class="btn btn-default btn-blue" ng-disabled="profileForm.$pristine || profileForm.$invalid || updatingAccount" ng-click="updateAccount()"><span ng-hide="updatingAccount">Update profile</span><i class="fa fa-spinner fa-spin" ng-show="updatingAccount"></i></span></button>
                  </form>
                </div>
              </div>
            </div>

            <!-- Categories panel -->
            <div class="tab-categories row" ng-switch-when="categories">
              <div class="col-xs-12">
                <h3 class="tab-title">Categories</h3>
              </div>

              <div class="col-xs-4 add-category">
                <form class="novalidate" role="form" name="categoryForm">
                  <div class="form-group">
                    <label for="category">New category</label>
                    <input type="text" class="form-control" id="category" ng-model="newCategory.name"></input>
                  </div>
                  <div class="form-group">
                    <label for="parent">Parent</label>
                    <select class="form-control" ng-model="newCategory.parent">
                      <option ng-selected="{{category.id == newCategory.parent}}" ng-repeat="category in account.categories | orderBy: 'name'" value="{{category.id}}">{{category.name}}</option>
                    </select>
                  </div>
                  <button class="btn btn-default btn-primary" ng-disabled="categoryForm.$pristine || addingCategory" ng-click="addCategory(newCategory)"><span class="btn-text" ng-hide="addingCategory">Add category</span><i class="fa fa-spinner fa-spin" ng-show="addingCategory"></i></span></button>
                </form>
                <a href ng-click="showStandardCategoriesModal()" class="import">Import a standard category set</a>
              </div>

              <div class="col-xs-8 categories">
                <ul class="categories-list">
                  <li ng-repeat="category in account.categories | orderBy: 'name'">
                    <a href ng-click="deleteCategory(category)" ng-hide="category.children.length>0" class="btn btn-danger btn-xs delete-category"><i class="fa fa-trash"></i></a>
                    <span class="category-name">{{category.name}}</span> <span class="category-count">({{category.count}})</span>
                    <ul class="subcategories">
                      <li ng-repeat="subcat in category.children | orderBy: 'name'">
                        <a href ng-click="deleteCategory(subcat)" class="btn btn-danger btn-xs delete-category"><i class="fa fa-trash"></i></a>
                        <span class="category-name">{{subcat.name}}</span> <span class="category-count">({{subcat.count}})</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <div class="account-panels" ng-switch-when="account">
              <!-- <div class="panel panel-default panel-account">
                <div class="panel-heading">
                  Registered email-address
                </div>
                <div class="panel-body">
                  <p>{{account.email}}
                </div>
              </div> -->

              <div class="panel panel-default">
                <div class="panel-heading">
                  Account url
                </div>
                <div class="panel-body">
                  <form class="novalidate" role="form" name="accountForm">
                    <div class="form-group">
                      <input type="text" class="form-control" id="slug" ng-model="account.slug" ng-change="slugify()" ng-required="true"></input>
                    </div>

                    <button class="btn btn-default" ng-disabled="accountForm.$pristine || accountForm.$invalid || updatingSlug" ng-click="updateSlug()"><span class="btn-text" ng-hide="updatingSlug">Change url</span><span class="loader"><i class="fa fa-spinner fa-spin" ng-show="updatingSlug"></i></span></button>
                  </form>
                </div>
              </div>

              <div class="panel panel-danger">
                <div class="panel-heading">
                  Delete account
                </div>
                <div class="panel-body">
                  <p>Be careful, do not just delete your account!</p>
                  <button class="btn btn-danger" ng-click="destroy()">Delete account</button>
                </div>
              </div>
            </div>

            <div class="tab-people row" ng-switch-when="people">
              <div class="col-xs-12">
                <h3 class="tab-title">Users</h3>
              </div>
              <div class="col-xs-12 administrators">
                <ul>
                  <li ng-repeat="user in account.people | filter: {role:2}">
                    <img ng-src="{{$root.config.filesRoot + '/s/thumbnail/' + user.avatar_url}}" class="avatar img-circle"/> <a ui-sref="account.view({slug: user.slug})">{{user.displayname}}</a> <span class="role">&middot; {{user.roleName}}</span>
                    <div ng-show="account.isAdmin">
                      <a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-trash"></i></a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 editors">
                <ul>
                  <li ng-repeat="user in account.people | filter: {role:3}">
                    <img ng-src="{{$root.config.filesRoot + '/s/thumbnail/' + user.avatar_url}}" class="avatar img-circle"/> <a ui-sref="account.view({slug: user.slug})">{{user.displayname}}</a> <span class="role">&middot; {{user.roleName}}</span>
                    <div ng-show="isAdmin" class="actions">
                      <a href class="btn btn-default" ng-click="revokeUserAccess(user)">Revoke access</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 invite-user" ng-show="isAdmin && !showInviteForm">
                <a href ng-click="showInviteForm=true" class="btn btn-primary">Add a new editor</a>
              </div>

              <div class="col-xs-12 invite-form" ng-show="showInviteForm">
                <h3>Add a new editor</h3>
                <form class="form">
                  <div class="form-item">
                    <label>Search by username</label>
                    <input class="form-control" placeholder="search ..." ng-model="invite.username"  ng-model-options="{ debounce: 500 }" ng-change="doSearch()"/>
                  </div>
                </form>
                <div class="inviteUserResults">
                  <table class="table table-bordered">
                    <tr ng-repeat="user in invite.result">
                      <td class="username"><img class="img-circle avatar" ng-src="{{$root.config.filesRoot + '/s/small/' + user.avatar.url || 'assets/img/avatar.png'}}"/><span class="displayname"><a ui-sref="account.view({slug: user.slug})">{{user.displayName}}</a></span></td>
                      <td class="actions">
                        <a class="btn btn-primary" ng-click="addPerson(user)">Add user</a>
                      </td>
                    </tr>
                  </table>
                </div>
                  <div class="form-item">
                    <a href ng-click="showInviteForm=false">cancel</a>
                  </div>
                </form>
              </div>
            </div>

            <div class="organisations-panels" ng-switch-when="registries">
              <div class="panel panel-default panel-registries">
                <div class="panel-heading">
                  Registries
                </div>
                <div class="panel-body">
                  <div class="registry-active col-md-12">
                    <h3>Connected registries</h3>
                    <div class="registry" ng-repeat="registry in registries.active">
                      <form class="form">
                        <div class="col-md-2">
                          <img class="img-responsive avatar" ng-src="{{registry.icon}}"/>
                        </div>
                        <div class="col-md-10">
                          <h4>{{registry.title}}</h4>
                        </div>
                        <div class="col-md-12">
                          <p>Validated: {{registry.account_registries.valid || false}}</p>
                          <input type="checkbox" ng-model="registry.account_registries.active" ng-click="updateRegistry($index,registry)" ng-show="registry.account_registries.valid">Active
                          <input type="checkbox" ng-model="registry.account_registries.autoadd" ng-click="updateRegistry($index,registry)" ng-show="registry.account_registries.valid" ng-disabled="!registry.account_registries.active">Auto add
                          <div class="form-group">
                            <label for="apikey">API key</label>
                            <input type="text" class="form-control" id="apikey" ng-model="registry.account_registries.apikey"></input>
                            <a class="btn btn-default" ng-click="validateRegistry(registry)">validate</a>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <p ng-hide="registry.account_registries.valid">This registry is added to this account, but it is not validated yet. Add the required key and validate it. </p>
                        </div>
                        <div class="col-md-12" ng-show={{registry.account_registries.status}}>
                          <div class="form-group">
                            <label class="checkbox">
                              <input type="checkbox" ng-model="registry.account_registries.autosync">Autosync
                            </label>
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>

                  <!-- <div class="row registry-inactive">
                    <h3>Inactive registries</h3>
                    <div class="registry" ng-repeat="a in registries.inactive track by a.id">
                      <pre>{{registry}}</pre>
                    </div>
                  </div> -->

                  <div class="col-md-12">
                    <p>Your registry not listed? Contact us to discuss the possibilities! </p>
                  </div>
                </div>
              </div>
            </div>


            <div class="support-panels" ng-switch-when="support">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Support
                </div>
                <div class="panel-body">
                  <p>Some support information</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-footer"></div>
