<navbar class="sticky-header" ng-class="{hide: hideHeader}">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <a id="nav-toggle" href="#" ng-click="toggleSidebar($event)"><span></span></a>
      <a ui-sref="home" class="logo" ng-hide="$root.showSitenav">
      	<img src="/assets/img/logo-transparant-white.png">
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$root.user.id"><a ui-sref="user.register">Sign up</a></li>
        <li ng-hide="$root.user.id"><a ui-sref="user.signin">Sign in</a></li>
        <li dropdown on-toggle="toggleUsermenu(open)" ng-show="$root.user.id">
          <a href class="dropdown-toggle avatar" dropdown-toggle>
            <img class="img-circle avatar" ng-src="{{$root.user.primary.avatar.url || '/assets/img/avatar.png'}}"/><span class="caret"></span>
          </a>
          <ul class="dropdown-menu usermenu">
            <li>
              <div class="usermenu-header">
                {{ $root.user.primary.displayName }}
                <span ng-show="$root.user.admin" class="label label-success">admin</span>
              </div>
            </li>
            <li><a ui-sref="account.view({slug: $root.user.primary.slug})">Your profile</a></li>
            <li><a ui-sref="user.edit({slug: $root.user.primary.slug})">Settings</a></li>
            <!-- <li><a href="http://docs.columby.com">Help</a></li> -->
            <li><a href ng-click="logout()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</navbar>
