<div class="page-content">
  <div class="container">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Sign up</div>
        <div class="panel-body">

          <div class="message" ng-bind-html="message"></div>

          <div class="google-register">
            <a class="btn btn-default btn-google" ng-click="register('google')">
              <i class="fa fa-google icon"></i>
              <span class="buttonText">Sign up with Google</span>
            </a>
          </div>

          <hr>
          <div class="email-register">
            <form class="form-horizontal" role="form" name="registerForm" ng-submit="register('email')">

              <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="newuser.email" required>

              <input type="text" class="form-control" id="name" name="name" placeholder="Username" ng-minlength="3" ng-maxlength="20" ng-model="newuser.name" ng-change="slugifyName()" required>

              <p>I accept the <a ui-sref="terms" target="_blank">terms</a></p>

              <button type="submit" class="btn btn-primary" data-ng-disabled="registerForm.$pristing || registerForm.name.$invalid || registerForm.email.$invalid || registerForm.$invalid">Sign up</button>

              <div class="form-group">
                <div class="col-sm-8">
                  <div ng-show="registerForm.$invalid && !registerForm.$pristine" class="alert alert-warning" role="alert">
                    <span ng-show="registerForm.email.$invalid">Please enter a valid email.</span>
                    <span ng-show="registerForm.name.$invalid">Your username should between 3 and 20 characters.</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <p class="signin-link">Have an account? <a ui-sref='user.signin'>Sign in here</a></p>
    </div>
<!-- /login form -->
  </div>
</div>

<div class="page-footer"></div>
