<div class="page signin verify">

  <!-- Signin content -->
  <div class="content">
    <div class="header wrapper">
      <div class="container">
        <div>
          <h1 class="title">Verify Signin</h1>
        </div>
      </div>
    </div>

    <!-- login & register forms -->
    <div class="container">
        <div class="col-md-12">
          <h2>Verify</h2>
          <p ng-hide="message">Please wait while we verify your login token. </p>
          <p>{{message}}. Please login <a ui-sref="signin">again</a></p>
        </div>
      </div>
  </div>
</div>
