.collection .content .searchbox {
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  font-size: 24px;
  border: 1px solid #CFCFCF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.collection .content .datasets .dataset-listing ul {
  padding: 0;
}
.collection .content .datasets .dataset-listing .dataset {
  list-style: none;
  padding: 6px;
  margin: 0 0 30px 0;
}
.collection .content .datasets .dataset-listing .dataset h4 {
  word-wrap: break-word;
}
.collection .content .datasets .dataset-listing .dataset h4 a {
  font-family: "lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #222;
}
.collection .content .datasets .dataset-listing .dataset .properties {
  padding: 10px 0 20px 0;
}
.collection .content .datasets .dataset-listing .dataset .properties li {
  display: inline-block;
  margin-right: 15px;
  color: #666;
}
.collection .content .datasets .dataset-listing .dataset .properties li label {
  margin-right: 5px;
  color: #428bca;
  font-family: "lato", sans-serif;
}
