<section class="page search" ng-controller="SearchCtrl">

  <div class="page-header">
    <div class="container">
      <h1>Search</h1>
      <h2 class="page-subtitle">find datasets</p>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <div class="col-md-12">
        <input
          focus
          class="input-search"
          ng-model="search.term"
          placeholder="Search"
          ng-change="search()"/>
      </div>
    </div>

    <div class="container">
      <div class="col-md-12 results recent-publications">
        <h3 ng-show="search.hits.length">Search results</h2>
        <div class="result publication-listing" ng-cloak>
          <ul>
            <li ng-repeat="result in search.hits" class="publication-item">
              <h4><a ui-sref="dataset.view({datasetId: result._id})">{{result._source.title}}</a><em>{{result._source.publishStatus}}</em></h4>
              <div class="user-date"><!-- {{result._source.account.name || '[Oops! No publisher found]'}} on  --><time class="post-date">{{result._source.createdAt | date:'d MMMM yyyy'}}</time></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</section>
