<div class="page-header">
  <div class="container">
    <div class="col-xs-12 page-title-container">
      <h1 class="page-title">{{tag.text}}</h1>
      <h2 class="page-subtitle">All datasets tagged with {{tag.text}}</h2>
    </div>
  </div>
</div>

<div class="page-content wrapper">
  <div class="container">
    <div class="col-md-offset-1 col-md-10 publications">
      <h3>Datasets</h3>
      <div class="publication-listing">
        <ul>
          <li ng-repeat="dataset in tag.datasets" class="publication-item">
            <h4><a ui-sref="dataset.view({ id: dataset.shortid })" ng-bind-html="dataset.title || 'Untitled'"></a></h4>
            <div class="user-date">
              <!-- <img ng-src="dataset.account.avatar.img" class="img-rounded"/> -->
              <img class="img-circle avatar-small" ng-src="{{dataset.account.avatar.url || 'assets/img/avatar.png'}}" alt="{{dataset.account.name}}"/>
              <a ui-sref="account.view({slug:dataset.account.slug})">{{dataset.account.displayName || '[Oops! No publisher found]'}}</a> on <time class="post-date">{{dataset.created_at | date:'d MMMM yyyy'}}</time>
            </div>
            <!-- <p><a ui-sref="dataset.view({id:dataset.shortid})">{{dataset.title}}</a></p> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
